.Appoint{
    background-color: #f7fcfc;
    width: 100%;
}
.APPOINTMENT {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    h1 {
      font-size: 30px;
      font-weight: 700;
      padding: 10px 0;
      color: var(--fontColor);
    }
    .line {
      position: absolute;
      width: 46px;
      height: 3px;
      background-color: var(--blueColor);
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
    }
    p {
      text-align: center;
      width: 80%;
      font-weight: 500;
    }
}
.form-appointment{
    width: 100%;
    position: relative;
    box-shadow: none !important;
    padding: 54px 20px !important;
}
.inputs{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.input-ll{
    height: 30px;
    border: 1px solid var(--fontColor);
    border-radius: 0 !important;
    &:hover {
      border: 0.2px solid var(--blueColor);
    }
    @media screen and (max-width:767px){
      width: 100%;
    }
}
.textarea-ll{
  border: 1px solid var(--fontColor);
  border-radius: 0 !important;
  width: 80%;
  @media screen and (max-width:767px){
    width: 100%;
  }
}
.btn-ll{
  position: absolute;
  left: 50%;
  bottom: 11px;
  width: 70px;
  padding: 5px;
  transform: translateX(-50%)
}