.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  gap: 3rem;
  width: 100%;
}
.contactUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.ourAddress {
  width: 48%;
  padding: 20px;
  @media screen and (max-width:767px){
    width: 100%;
  }
  .icon {
    border-radius: 50%;
    border: 1px dotted var(--blueColor);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        color: var(--blueColor);
        font-size: 20px;
    }
  }
  h2{
    color: var(--fontColor);
    font-size: 20px;
    font-weight: 600;
  }
  p{
    color: var(--fontColor);
  }
}
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  
}
.parent{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 49%;
  @media screen and (max-width:767px){
    width: 100%;
  }
}
.parents{
    @media screen and (max-width:767px){
        flex-direction: column;
        width: 100%;
      }
}
form {
  border-radius: 10px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  @media screen and (max-width:767px){
    width: 100%;
  }
  input,
  textarea {
    border: 0.2px solid var(--fontColor);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    width: 100%;
    &:hover {
      border: 0.2px solid var(--blueColor);
    }
    outline: none;
  }
  .sub {
    width: 100%;
  }
  .name-email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  button {
    padding: 10px;
    color: white;
    background-color: var(--blueColor) !important;
    border-radius: 5px;
    outline: none;
    &:hover {
      border: none;
      color: white;
      padding: 10px;
    }
  }
}
